<div class="container">
    <h5>Liste des rapports</h5>
    <table class="table">
        <tr>
            <th>Restaurant</th>
            <td>{{restaurant.name}}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{rapport.dateRapport}}</td>
        </tr>
        <tr>
            <th>Chiffre d'affaire boissons</th>
            <td>{{rapport.caBoissons}}</td>
        </tr>
        <tr>
            <th>Chiffre d'affaire nourriture</th>
            <td>{{rapport.caNourriture}}</td>
        </tr>

        <tr>
            <th>Chiffre d'affaire total</th>
            <td>{{rapport.caTotal}}</td>
        </tr>

    </table>

</div>